
<nav class="py-0 bg-black navbar navbar-expand-lg navbar-dark">
  <div class="container">

    <div class="collapse navbar-collapse justify-content-between" id="mainMenu">

      <ul class="navbar-nav small">
        <li class="nav-item"><a class="p-1 nav-link" href="/#etlap"><i class="mr-1 bi bi-facebook"></i> Facebook</a></li>
        <li class="nav-item"><a class="p-1 nav-link" href="/#etlap"><i class="mr-1 bi bi-instagram"></i> Instagram</a></li>
      </ul>

      <ul class="navbar-nav small">
        {% for item in menuSecondary.get_items %}
          <li class="nav-item {{ item.classes }}">
            <a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
        <li class="nav-item"><a class="p-1 nav-link" href="/#etlap">Nyitvatartás</a></li>
        <li class="nav-item"><a class="p-1 nav-link" href="/#etlap">Kiszállítás</a></li>
        <li class="nav-item"><a class="p-1 nav-link" href="/profile">Kapcsolat</a></li>
      </ul>

    </div>
  </div>
</nav>

<nav class="py-4 navbar navbar-expand-lg navbar-light">
  <div class="container">

    <a class="navbar-brand" href="{{ site.url }}">
      {{ site.name }}
      <span class="badge text-bg-success text-uppercase ms-2" >Nyitva</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainMenu">

      <ul class="mx-auto navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ wooShopUrl }}">Étlap</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ wooAccountUrl }}">Profil</a></li>
      </ul>

      <a href="{{ wooCartUrl }}" class="gap-3 text-reset d-flex align-items-center text-decoration-none">
        <span>2 elem / <strong>4500 ft</strong></span>
        <i class="text-2xl bi bi-basket2"></i>
      </a>

    </div>
  </div>
</nav>
