{% extends "base.twig" %}

{% block content %}

<div class="row g-3">

  <div class="col">
		<h2 class="h4">Étlap</h2>

    <div class="accordion" id="etlap">

    {% for foodgroup in foods %}
    <div class="accordion-item">

      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{foodgroup.catslug}}" aria-expanded="true">
        {{ foodgroup.cat }}
        </button>
      </h2>

      <div id="{{foodgroup.catslug}}" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="gap-4 vstack">
            {% for product in foodgroup.foods %}
              <div>
                <div class="row g-3">

                  {# kép #}
                  <div class="col-md-auto">
                    <a href="{{ product.item.link }}">
                      <img src="{{ product.item.thumbnail.src('thumbnail') }}" class="img-fluid" alt="Kép a(z) {{ post.title }}" style="max-width: 80px" />
                    </a>
                  </div>

                  {# cím és ár #}
                  <div class="col-sm">
                    <div class="border-bottom">
                    <div class="row text-uppercase fw-bold">
                      <span class="col"><a href="{{ product.item.link }}" class="text-reset text-decoration-none">{{ product.product.get_name }}</a></span>
                      <span class="col-auto">{{ product.product.get_price_html }}</span>
                    </div>
                    </div>
                    <div class="small">
                      {{ product.product.get_description }}
                    </div>
                  </div>

                  {# kosárba #}
                  <div class="col-auto">
                    <div class="gap-2 vstack">
                      <a href="{{ site.url }}/{{ product.product.add_to_cart_url }}" class="btn btn-primary">
                        <i class="bi bi-cart-plus"></i> Kosárba
                      </a>
                      <a href="{{ product.item.link }}" class="border-0 btn btn-sm btn-outline-secondary">
                        Egyedi összeállítás
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>
  </div>

  <div class="col-lg-3">
    {% include 'partials/list/cart.twig' %}
  </div>

</div>



{% endblock %}
